
<style type="text/css">
	.wrap {
		height: 100%;
	}
</style>
<a href="#" class="list-group-item">

	<span class="pull-right"><button class="btn btn-primary btn-xs" type="button">
	<i class="fa fa-play"></i> Enter
	</button></span>

{{arena.name}}


<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  </div>
</div>

</a>
{{yield}}
