
<style type="text/css">
	.wrap {
		height: 100%;
	}
</style>
<li class="list-group-item wrap"><strong>{{arena.name}}</strong><button class="btn btn-primary btn-xs pull-right" type="button">Enter</button><br></li>

{{yield}}
